docs/n8n-generate-draft-workflow-backup-2026-03-31.json
{
  "updatedAt": "2026-03-28T06:09:03.986Z",
  "createdAt": "2026-03-27T08:22:34.478Z",
  "id": "QKSf9yZfaB3nTmXx",
  "name": "[Realestate Outreach] Generate AI Draft",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "generate-draft",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "realestate-generate-draft-v1"
    },
    {
      "id": "openrouter-1",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "juEnxEIU4i1dAQCx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "id": "agent-1",
      "name": "Generate Draft",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Write a fresh outreach email (variation {{ $('Webhook').item.json.body._seed }}) for:\n- Name: {{ $('Webhook').item.json.body.name }}\n- Agency: {{ $('Webhook').item.json.body.agency_name }}\n- Suburb: {{ $('Webhook').item.json.body.suburb || '' }}\n{{ $('Webhook').item.json.body.custom_instructions ? 'Custom instructions: ' + $('Webhook').item.json.body.custom_instructions : '' }}\n\nEach variation must use different wording, a different subject line, and a different angle on the pain points.",
        "options": {
          "systemMessage": "You are writing cold outreach emails on behalf of Ambrose Voon, who helps real estate agents automate their lead follow-up and email replies using AI.\n\nIMPORTANT: Do NOT mention any product name or brand. Write as Ambrose personally reaching out. Human, direct, confident. No buzzwords, no fluff.\n\nSTRICT WRITING RULES:\n- Never use a dash (- or \u2014) anywhere. Not in subject lines, not between clauses, not as bullet connectors. Use a full stop or a new sentence instead.\n- Short punchy sentences. Sound like a real person, not a copywriter.\n- No filler phrases like \"I hope this finds you well\" or \"I wanted to reach out\".\n- Never claim other agents are already using this or reference any existing clients.\n\nSUBJECT LINE RULES (this is critical):\n- NEVER use \"Quick question for [Agency]\" or any variation of it. That subject is overused and gets ignored.\n- Every subject line must use a completely different style. Pick ONE angle at random each time:\n  \u2022 A direct challenge: e.g. \"Are you actually responding to every enquiry\"\n  \u2022 A curiosity hook: e.g. \"What I noticed about agencies in [suburb]\"\n  \u2022 A specific outcome: e.g. \"What if every enquiry got a reply in under 2 minutes\"\n  \u2022 A bold observation: e.g. \"Most agents lose leads before lunch\"\n  \u2022 A short provocative question: e.g. \"Still following up leads by hand\"\n  \u2022 A time-based hook: e.g. \"3 hours a day on emails is too much\"\n  \u2022 A personal observation: e.g. \"Something worth 5 minutes of your time\"\n  \u2022 A fear of missing out: e.g. \"The lead you missed while at an inspection\"\n- Subject must be under 9 words. No exclamation marks. No dashes.\n- If the subject is phrased as a question, it MUST end with a \"?\". If it is a statement, no punctuation at the end.\n- The subject must feel like it was written specifically for a busy real estate agent who barely reads their inbox.\n\nEMAIL STRUCTURE (follow exactly):\n\n1. ONE personalised opener sentence referencing their agency or suburb. Make it feel like you know their market.\n\n2. A pain-points section wrapped in [[ and ]] delimiters on their own lines. Generate between 5 and 8 bullet points. Pick a random number each time. Each bullet starts with \u2022. Real, specific frustrations agents feel about lead follow-up, slow response times, lost enquiries, and email overload. Under 14 words each. Sharp and specific. No dashes. Vary the number of bullets in every generation so no two emails look the same.\n\n3. TWO short sentences on the transformation. What their week looks like after working with Ambrose. Concrete outcomes: response times, lead conversion, time saved. Make it feel achievable and real.\n\n4. A CTA paragraph that creates genuine desire to click. Use ONE of these angles depending on the lead's context:\n   - Scarcity: \"I only work with a small number of agents at a time so I can give each one proper attention.\"\n   - Curiosity: \"In 15 minutes I can show you exactly what this looks like for an agency your size. Most agents are surprised how simple the setup is.\"\n   - Low risk: \"No pitch, no pressure. Just a quick look at whether it makes sense for you.\"\n   End with a direct ask: \"Click the button below to grab a time that works.\"\n\n5. Sign off warmly but briefly.\n\nSign off with:\nAmbrose Voon\n0478 495 661\n\nALWAYS respond with ONLY a raw JSON object, no markdown, no code fences:\n{\"subject\": \"...\", \"body\": \"... use \\n for line breaks ...\"}"
        }
      }
    },
    {
      "id": "code-1",
      "name": "Parse Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const text = $input.first().json.output || '';\nlet draft = { subject: '', body: '' };\ntry {\n  const fenceStripped = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  const match = fenceStripped.match(/\\{[\\s\\S]*\\}/);\n  if (match) draft = JSON.parse(match[0]);\n} catch(e) {\n  draft = { subject: 'SmartFlow intro', body: text };\n}\nreturn [{ json: draft }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "fetch-prior-subjects-draft-001",
      "name": "Fetch Prior Subjects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        120
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://tjwwldskpqjwjzfxraxd.supabase.co/rest/v1/re_outreach_activities?select=subject&lead_id=eq.' + $('Webhook').item.json.body.lead_id + '&type=eq.email_sent&order=created_at.desc&limit=100' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_vmJanHjHR3lI1kUBk97X7A_pNEIMtKd"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_vmJanHjHR3lI1kUBk97X7A_pNEIMtKd"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ensure-unique-subject-001",
      "name": "Ensure Unique Subject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "\nconst draft = $input.first().json;\nconst body = $('Webhook').item.json.body;\nconst agency = String(body.agency_name || '').trim();\nconst suburb = String(body.suburb || '').trim();\n\nconst usedSubjects = new Set(\n  $('Fetch Prior Subjects').all().map(item => String(item.json.subject || '').trim().toLowerCase()).filter(Boolean)\n);\n\nconst subject = String(draft.subject || '').trim();\nif (subject && !usedSubjects.has(subject.toLowerCase())) {\n  return [{ json: draft }];\n}\n\nconst locationToken = suburb || agency.split(/\\s+/)[0] || 'your market';\nconst candidateSubjects = [\n  `Are you actually responding to every enquiry?`,\n  `Still following up leads by hand?`,\n  `The lead you missed while at an inspection`,\n  `3 hours a day on emails is too much`,\n  `Most agents lose leads before lunch`,\n  `What if every enquiry got a reply in under 2 minutes?`,\n  `Something worth 5 minutes of your time`,\n  `What I noticed about agencies in ${locationToken}`,\n  `Are your competitors responding faster than you?`,\n  `How much time did you spend on follow-ups today?`,\n  `When does follow-up actually happen?`,\n  `How many enquiries went cold this week?`,\n  `The reply delay costing you inspections`,\n  `A faster way to handle weekend enquiries`,\n  `What happens after 5 pm at ${agency || 'your agency'}`,\n  `Could every enquiry get a response in minutes?`,\n  `Why good enquiries still go missing`,\n  `Weekend opens should not slow replies`,\n  `A better follow-up rhythm for ${agency || 'busy agents'}`,\n  `Is manual follow-up still worth it?`,\n  `What top agents protect with automation`,\n  `How many leads are waiting right now?`,\n  `Fast replies change conversion`,\n  `The follow-up gap hurting busy agents`,\n  `Where enquiry response time breaks down`,\n  `A small fix for a costly delay`,\n];\n\nconst unused = candidateSubjects.filter(candidate => !usedSubjects.has(candidate.toLowerCase()));\nconst replacement = unused.length > 0\n  ? unused[Math.floor(Math.random() * unused.length)]\n  : `${candidateSubjects[0]} ${usedSubjects.size + 1}`;\n\nreturn [{ json: { ...draft, subject: replacement } }];\n"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Prior Subjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Draft": {
      "main": [
        [
          {
            "node": "Parse Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft": {
      "main": [
        [
          {
            "node": "Ensure Unique Subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Unique Subject": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6ee80ae7-4baa-4fe3-88b2-4978b31de1f0",
  "activeVersionId": "6ee80ae7-4baa-4fe3-88b2-4978b31de1f0",
  "versionCounter": 43,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T08:22:34.483Z",
      "createdAt": "2026-03-27T08:22:34.483Z",
      "role": "workflow:owner",
      "workflowId": "QKSf9yZfaB3nTmXx",
      "projectId": "PQJbC8ACd7qB7dgY",
      "project": {
        "updatedAt": "2025-05-12T07:31:15.638Z",
        "createdAt": "2025-05-12T07:21:50.387Z",
        "id": "PQJbC8ACd7qB7dgY",
        "name": "Ambrose Voon <ambrosevoon@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "aeb55c5e-6222-46b4-86b8-68076a8d376a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T06:09:03.989Z",
    "createdAt": "2026-03-28T06:09:03.989Z",
    "versionId": "6ee80ae7-4baa-4fe3-88b2-4978b31de1f0",
    "workflowId": "QKSf9yZfaB3nTmXx",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "parameters": {
          "path": "generate-draft",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "realestate-generate-draft-v1"
      },
      {
        "id": "openrouter-1",
        "name": "OpenRouter Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          500,
          500
        ],
        "parameters": {
          "model": "anthropic/claude-sonnet-4",
          "options": {}
        },
        "credentials": {
          "openRouterApi": {
            "id": "juEnxEIU4i1dAQCx",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "id": "agent-1",
        "name": "Generate Draft",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          500,
          300
        ],
        "parameters": {
          "promptType": "define",
          "text": "=Write a fresh outreach email (variation {{ $('Webhook').item.json.body._seed }}) for:\n- Name: {{ $('Webhook').item.json.body.name }}\n- Agency: {{ $('Webhook').item.json.body.agency_name }}\n- Suburb: {{ $('Webhook').item.json.body.suburb || '' }}\n{{ $('Webhook').item.json.body.custom_instructions ? 'Custom instructions: ' + $('Webhook').item.json.body.custom_instructions : '' }}\n\nEach variation must use different wording, a different subject line, and a different angle on the pain points.",
          "options": {
            "systemMessage": "You are writing cold outreach emails on behalf of Ambrose Voon, who helps real estate agents automate their lead follow-up and email replies using AI.\n\nIMPORTANT: Do NOT mention any product name or brand. Write as Ambrose personally reaching out. Human, direct, confident. No buzzwords, no fluff.\n\nSTRICT WRITING RULES:\n- Never use a dash (- or \u2014) anywhere. Not in subject lines, not between clauses, not as bullet connectors. Use a full stop or a new sentence instead.\n- Short punchy sentences. Sound like a real person, not a copywriter.\n- No filler phrases like \"I hope this finds you well\" or \"I wanted to reach out\".\n- Never claim other agents are already using this or reference any existing clients.\n\nSUBJECT LINE RULES (this is critical):\n- NEVER use \"Quick question for [Agency]\" or any variation of it. That subject is overused and gets ignored.\n- Every subject line must use a completely different style. Pick ONE angle at random each time:\n  \u2022 A direct challenge: e.g. \"Are you actually responding to every enquiry\"\n  \u2022 A curiosity hook: e.g. \"What I noticed about agencies in [suburb]\"\n  \u2022 A specific outcome: e.g. \"What if every enquiry got a reply in under 2 minutes\"\n  \u2022 A bold observation: e.g. \"Most agents lose leads before lunch\"\n  \u2022 A short provocative question: e.g. \"Still following up leads by hand\"\n  \u2022 A time-based hook: e.g. \"3 hours a day on emails is too much\"\n  \u2022 A personal observation: e.g. \"Something worth 5 minutes of your time\"\n  \u2022 A fear of missing out: e.g. \"The lead you missed while at an inspection\"\n- Subject must be under 9 words. No exclamation marks. No dashes.\n- If the subject is phrased as a question, it MUST end with a \"?\". If it is a statement, no punctuation at the end.\n- The subject must feel like it was written specifically for a busy real estate agent who barely reads their inbox.\n\nEMAIL STRUCTURE (follow exactly):\n\n1. ONE personalised opener sentence referencing their agency or suburb. Make it feel like you know their market.\n\n2. A pain-points section wrapped in [[ and ]] delimiters on their own lines. Generate between 5 and 8 bullet points. Pick a random number each time. Each bullet starts with \u2022. Real, specific frustrations agents feel about lead follow-up, slow response times, lost enquiries, and email overload. Under 14 words each. Sharp and specific. No dashes. Vary the number of bullets in every generation so no two emails look the same.\n\n3. TWO short sentences on the transformation. What their week looks like after working with Ambrose. Concrete outcomes: response times, lead conversion, time saved. Make it feel achievable and real.\n\n4. A CTA paragraph that creates genuine desire to click. Use ONE of these angles depending on the lead's context:\n   - Scarcity: \"I only work with a small number of agents at a time so I can give each one proper attention.\"\n   - Curiosity: \"In 15 minutes I can show you exactly what this looks like for an agency your size. Most agents are surprised how simple the setup is.\"\n   - Low risk: \"No pitch, no pressure. Just a quick look at whether it makes sense for you.\"\n   End with a direct ask: \"Click the button below to grab a time that works.\"\n\n5. Sign off warmly but briefly.\n\nSign off with:\nAmbrose Voon\n0478 495 661\n\nALWAYS respond with ONLY a raw JSON object, no markdown, no code fences:\n{\"subject\": \"...\", \"body\": \"... use \\n for line breaks ...\"}"
          }
        }
      },
      {
        "id": "code-1",
        "name": "Parse Draft",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          300
        ],
        "parameters": {
          "jsCode": "const text = $input.first().json.output || '';\nlet draft = { subject: '', body: '' };\ntry {\n  const fenceStripped = text.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  const match = fenceStripped.match(/\\{[\\s\\S]*\\}/);\n  if (match) draft = JSON.parse(match[0]);\n} catch(e) {\n  draft = { subject: 'SmartFlow intro', body: text };\n}\nreturn [{ json: draft }];"
        }
      },
      {
        "id": "respond-1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}"
        }
      },
      {
        "id": "fetch-prior-subjects-draft-001",
        "name": "Fetch Prior Subjects",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          250,
          120
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://tjwwldskpqjwjzfxraxd.supabase.co/rest/v1/re_outreach_activities?select=subject&lead_id=eq.' + $('Webhook').item.json.body.lead_id + '&type=eq.email_sent&order=created_at.desc&limit=100' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "sb_secret_vmJanHjHR3lI1kUBk97X7A_pNEIMtKd"
              },
              {
                "name": "Authorization",
                "value": "Bearer sb_secret_vmJanHjHR3lI1kUBk97X7A_pNEIMtKd"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "ensure-unique-subject-001",
        "name": "Ensure Unique Subject",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          300
        ],
        "parameters": {
          "jsCode": "\nconst draft = $input.first().json;\nconst body = $('Webhook').item.json.body;\nconst agency = String(body.agency_name || '').trim();\nconst suburb = String(body.suburb || '').trim();\n\nconst usedSubjects = new Set(\n  $('Fetch Prior Subjects').all().map(item => String(item.json.subject || '').trim().toLowerCase()).filter(Boolean)\n);\n\nconst subject = String(draft.subject || '').trim();\nif (subject && !usedSubjects.has(subject.toLowerCase())) {\n  return [{ json: draft }];\n}\n\nconst locationToken = suburb || agency.split(/\\s+/)[0] || 'your market';\nconst candidateSubjects = [\n  `Are you actually responding to every enquiry?`,\n  `Still following up leads by hand?`,\n  `The lead you missed while at an inspection`,\n  `3 hours a day on emails is too much`,\n  `Most agents lose leads before lunch`,\n  `What if every enquiry got a reply in under 2 minutes?`,\n  `Something worth 5 minutes of your time`,\n  `What I noticed about agencies in ${locationToken}`,\n  `Are your competitors responding faster than you?`,\n  `How much time did you spend on follow-ups today?`,\n  `When does follow-up actually happen?`,\n  `How many enquiries went cold this week?`,\n  `The reply delay costing you inspections`,\n  `A faster way to handle weekend enquiries`,\n  `What happens after 5 pm at ${agency || 'your agency'}`,\n  `Could every enquiry get a response in minutes?`,\n  `Why good enquiries still go missing`,\n  `Weekend opens should not slow replies`,\n  `A better follow-up rhythm for ${agency || 'busy agents'}`,\n  `Is manual follow-up still worth it?`,\n  `What top agents protect with automation`,\n  `How many leads are waiting right now?`,\n  `Fast replies change conversion`,\n  `The follow-up gap hurting busy agents`,\n  `Where enquiry response time breaks down`,\n  `A small fix for a costly delay`,\n];\n\nconst unused = candidateSubjects.filter(candidate => !usedSubjects.has(candidate.toLowerCase()));\nconst replacement = unused.length > 0\n  ? unused[Math.floor(Math.random() * unused.length)]\n  : `${candidateSubjects[0]} ${usedSubjects.size + 1}`;\n\nreturn [{ json: { ...draft, subject: replacement } }];\n"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Generate Draft",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Prior Subjects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Draft",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Generate Draft": {
        "main": [
          [
            {
              "node": "Parse Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Draft": {
        "main": [
          [
            {
              "node": "Ensure Unique Subject",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensure Unique Subject": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ambrose Voon",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T06:09:04.048Z",
        "id": 411,
        "workflowId": "QKSf9yZfaB3nTmXx",
        "versionId": "6ee80ae7-4baa-4fe3-88b2-4978b31de1f0",
        "event": "activated",
        "userId": "aeb55c5e-6222-46b4-86b8-68076a8d376a"
      },
      {
        "createdAt": "2026-03-28T06:09:04.026Z",
        "id": 410,
        "workflowId": "QKSf9yZfaB3nTmXx",
        "versionId": "6ee80ae7-4baa-4fe3-88b2-4978b31de1f0",
        "event": "deactivated",
        "userId": "aeb55c5e-6222-46b4-86b8-68076a8d376a"
      }
    ]
  }
}